@font-face {
    font-family: letraNueva;
    src: url('../fonts/KGRedHands.ttf');
}

* {
    margin: 0%;
    color: white;
    font-family: letraNueva;
}

header {
    background-color:#0c4a6e;
    box-shadow: #0c4a6e;
    display: grid;
    align-items: center;
    gap: 1px;
}

.Tlogo{
    font-size: 1rem;
    background: white;
    -webkit-background-clip: text;
}

.Tlogo2{
    font-size: 1rem;
    background: rgb(127, 64, 228);
    -webkit-background-clip: text;
}

body {
    background-color:rgb(2 6 23);
    width: 100vw;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.gridContainer1 {
    display: grid;
    gap: 20px;
    grid-template:
    "pterodactilo"
    "fondoVerde"
    "palabras"
    "Trex";

    .pterodactilo {
        width: 30rem;
    }

    .palabras {
        width: 30rem;
    }

    .fondoVerde {
        width: 30rem;
    }

    .Trex {
        width: 30rem;
    }
}

.gridContainer2 {
    display: grid;
    gap: 20px;
    grid-template:
    "youGetNothing"
    "triceratops"
    "competitor";

    .youGetNothing {
        width: 30rem;
    }

    .triceratops {
        width: 30rem;
    }

    .competitor {
        width: 30rem;
    }
}