@font-face {
    font-family: letraNueva;
    src: url('../fonts/KGRedHands.ttf');
}

* {
    margin: 0%;
    color: white;
    font-family: letraNueva;
}

header {
    background-color:#0c4a6e;
    box-shadow: #0c4a6e;
    display: grid;
    align-items: center;
    gap: 1px;
}

.Tlogo{
    font-size: 1rem;
    background: white;
    -webkit-background-clip: text;
}

.Tlogo2{
    font-size: 1rem;
    background: rgb(127, 64, 228);
    -webkit-background-clip: text;
}

body {
    background-color:rgb(2 6 23);
    width: 100vw;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.gridContainer1 {
    display: grid;
    margin: 3vi;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .pterodactilo {
        width: 32rem;
        border-radius: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-column-end:2 ;
    }

    .palabras {
        width: 32rem;
        border-radius: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .fondoVerde {
        width: 32rem;
        border-radius: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 3;
    }

    .Trex {
        width: 65rem;
        border-radius: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
    }
   
    
}

.gridContainer2 {
    display: grid;
    margin: 3vi;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .youGetNothing {
        width: 32rem;
        border-radius: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-column-end:2 ;
    }

    .triceratops {
        width: 32rem;
        border-radius: 10px;
    }

    .competitor {
        width: 32rem;
        border-radius: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}