body {
    background-color: black;
}

.logoInicio {
    color: white;
}

.menuInicio {
    color: white;
}

.cont1 {
    color: white;
}

.cont2 {
    color: white;
}

.cont3 {
    color: white;
}

.cont4 {
    color: white;
}

.cont5 {
    color: white;
}
footer {
    color: white;
}