body{
    background-color: black;
}

.complete{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sky{
    background-image: url("../Resources/monkey-sky.png");
    width: 100vh;
    height: 30vh;
}

.muneco{
    display: flex;
    position: fixed;
    background-image: url("../Resources/bernie.png");
    width: 30vh;
    height: 38vh;
    margin-bottom: 5vi;
    background-size: cover;
    top: 10vi;
    animation: walk 500ms steps(5) infinite;
}

.sea{
    background-image: url("../Resources/monkey-sea.png");
    width: 100vh;
    height: 30vh;
}

.sky,.sea{
    animation: movFondo 500ms steps(5) infinite;
    
}

@keyframes movFondo{
    from {background-position: 0px;}
    to {background-position: -550px;}
}

@keyframes walk{
    from {background-position: 0px;}
    to {background-position: -550px;}
}
