body{
}

.sky{
    background-image: url("../Resources/monkey-sky.png");
    width: 100vh;
    height: 30vh;
}

.muneco{
    display: flex;
    position: fixed;
    background-image: url("../Resources/bernie.png");
    width: 30vh;
    height: 36vh;
    margin-bottom: 5vi;
}

.sea{
    background-image: url("../Resources/monkey-sea.png");
    width: 100vh;
    height: 30vh;
}

