.fondoTwitch {
    top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
position: absolute;
}
.fondoNegro {
    top: 0px;
left: 2px;
width: 1918px;
height: 4149px;
background: transparent;
}
.lupa {
    top: 37px;
left: 63px;
width: 36px;
height: 36px;
position: absolute;
}
.login {
    top: 30px;
left: 1695px;
width: 205px;
height: 54px;
position: absolute;
}
.logoPrime {
    top: 227px;
left: 682px;
width: 556px;
height: 313px;
position: absolute;
}
.rectangulo {
    top: 755px;
left: 730px;
width: 458px;
height: 104px;
position: absolute;
}
.primeraNube {
    top: 1106px;
left: 64px;
width: 1792px;
height: 567px;
position: absolute;
}
.segundaNube {
    top: 1717px;
left: 64px;
width: 1792px;
height: 724px;
position: absolute;
}
.terceraNube {
    top: 2467px;
left: 64px;
width: 1792px;
height: 567px;
position: absolute;
}
.mac {
    top: 3440px;
left: 685px;
width: 584px;
height: 534px;
position: absolute;
}
.iphone {
    top: 3606px;
left: 386px;
width: 256px;
height: 219px;
position: absolute;
}
.pc {
    top: 3587px;
left: 1261px;
width: 271px;
height: 238px;
position: absolute;
}
.space {
    top: 1896px;
left: 477px;
width: 181px;
height: 309px;
position: absolute;
}
.reddot {
    top: 1896px;
left: 670px;
width: 181px;
height: 309px;
position: absolute;
}
.soul {
    top: 1896px;
left: 863px;
width: 180px;
height: 309px;
position: absolute;
}
.tentacles {
    top: 1896px;
left: 1055px;
width: 181px;
height: 309px;
position: absolute;
}
.sentinell {
    top: 1896px;
left: 1248px;
width: 181px;
height: 309px;
position: absolute;
}
.cancel {
    top: 2650px;
left: 876px;
width: 169px;
height: 169px;
position: absolute;
}
.texto1 {
    top: 1773px;
left: 135px;
width: 1664px;
height: 60px;
position: absolute;
font-size: 60px;
color: white;
}
.texto2 {
    top: 2286px;
left: 207px;
width: 1492px;
height: 110px;
position: absolute;
font-size: 50px;
color: white;
}
.texto3 {
    top: 2546px;
left: 560px;
width: 800px;
height: 60px;
position: absolute;
font-size: 60px;
color: white;
}
.texto4 {
    top: 2881px;
left: 269px;
width: 1382px;
height: 88px;
position: absolute;
font-size: 40px;
color: white;
}
.texto5 {
    top: 3127px;
left: 418px;
width: 1118px;
height: 125px;
position: absolute;
font-size: 125px;
color: white;
}
.texto6 {
    top: 3296px;
left: 181px;
width: 1544px;
height: 99px;
position: absolute;
font-size: 45px;
color: white;
}
.final {
    top: 4088px;
left: 543px;
width: 831px;
height: 25px;
position:absolute;
}
.texto7 {top: 48px;
left: 1773px;
width: 50px;
height: 20px;
position: absolute;
}